<mat-card>
    <div id="left">
        <iframe width="660" height="415" src="https://www.youtube.com/embed/wqjJHExvN9Q" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

    </div>

    <div id="right">

        <mat-card-title>
            Chat
        </mat-card-title>
        <form>
            <div class="form-group">

                <div class="in">
                    <label for="exampleInputEmail1">mensaje:</label>
                    <input type="message" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <button type="submit" class="btn btn-danger">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</mat-card>