<mat-toolbar color="primary">
    <a routerLink = "/" routerLinkActivate="activate">Kuepa</a>
    <span class="fill-remaining-space">
    </span>
    <a routerLink = "/login" routerLinkActivate="activate">
        <button mat-button >Ingresar</button>
        </a>
    <a routerLink = "/register" routerLinkActivate="activate">
    <button mat-button>Registrarse</button>
    </a>
    <a routerLink = "/chat" routerLinkActivate="activate">
        <button mat-button >Prueba del chat</button>
        </a>
  

</mat-toolbar> 